<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <% @produtos.each do |produto| %>
                <tr>
                    <td><%= produto.nome %></td>
                    <td><%= produto.descricao %></td>
                    <td><%= produto.quantidade %></td>
                    <td><%= produto.preco %></td>
                    <td>
                        <%= 
                            button_to "Remover", 
                            produto, method: :delete, 
                            class: "btn btn-danger", 
                            data:{ confirm:"Tem certeza que deseja remover #{produto.nome}"}
                        %>
                    </td>
                </tr>
            <% end %>
           
        </tbody>
    </table>
    <%= link_to "Criar novo produto", new_produto_path %>
</body>
</html>